## Backend
Backend/bin/
Backend/obj/
Backend/appsettings.json
Backend/appsettings.Development.json
Backend/oauth_tokens.json
*.user
*.suo
.vs/

## Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/.env

## General
*.log
.DS_Store
Thumbs.db
