## Backend
Backend/bin/
Backend/obj/
Backend/appsettings.json
Backend/appsettings.Development.json
Backend/oauth_tokens.json
*.user
*.suo
.vs/

## Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/
Frontend/.env
Frontend/.pnp.cjs
Frontend/.pnp.loader.mjs
Frontend/.yarn/cache/
Frontend/.yarn/unplugged/
Frontend/.yarn/build-state.yml
Frontend/.yarn/install-state.gz

## General
*.log
.DS_Store
Thumbs.db
poradniki.txt
a.txt
